<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<mappers>
		<mapper resource="mapper/query1.xml"/>	
		<mapper resource="mapper/query2.xml"/>	
		<mapper resource="mapper/query3.xml"/>	
		<mapper resource="mapper/query4.xml"/>	
	</mappers>

</configuration>








